@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*, html ,body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: none;
  font-family: 'Lato', sans-serif;
}



.sliderWrap {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  z-index: 2;
}
.playpause {
  background: rgba(0, 0, 0, 0.5);
  border: 3px solid #FFF;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 50px;
  width: 50px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  z-index: 4;
}
.playpause svg {
  font-size: 32px;
  color: #FFFFFF;
}
.slick-slider {
  max-height: 100vh;
}
.slick-slider .sliderImg {
  position: relative;
  height: 100vh;
}
.slick-slider .sliderImg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Form CSS */
.form_wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  z-index: 3;
}
.form_wrap h1 {
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 15px;
  font-weight: bold;
}
.form_wrap .formBox {
  position: relative;
  background-color: transparent;
  min-height: 500px;
  border-radius: 10px;
  border: 2px solid #FFF;
  padding: 20px 20px;
  overflow: hidden;
  z-index: 1;
}
.blurr {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(7px);
  height: 100%;
	width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.form_wrap .form_ele {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form_wrap .form_ele .form_row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.form_wrap .customInput input,
.form_wrap .MuiSelect-select {
  /* background-color: #fff; */
}
.form_wrap .MuiCheckbox-root {
  padding-top: 0;
  padding-bottom: 0;
}