*, html ,body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: none;
}



.sliderWrap {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  z-index: 2;
}
.playpause {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 30px;
  right: 30px;
  height: 50px;
  width: 50px;
  border: 0;
  border-radius: 5px;
  z-index: 4;
  cursor: pointer;
}
.playpause svg {
  font-size: 32px;
  color: #FFFFFF;
}
.slick-slider {
  max-height: 100vh;
}
.slick-slider .sliderImg {
  position: relative;
  height: 100vh;
}
.slick-slider .sliderImg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}